<aside>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark adm-sidebar collapse">
        <div class="adm-sidebar-sticky pt-3">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Dashboard</span>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/profil">
                        Profil
                    </a>
                </li>
                {% if isAdmin() %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#collapse01" role="button" aria-expanded="false" aria-controls="collapse01">
                            Gestion articles
                        </a>
                        <div class="collapse bg-light rounded" id="collapse01">
                            <ul>
                                <li class="nav-link collapsed">
                                    <a href="/dashboard/article/add" class="nav-sublink">Ajouter un article</a>
                                </li>
                                <li class="nav-link collapsed">
                                    <a href="/dashboard/article/list" class="nav-sublink">Liste des articles</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/comment/list">
                            Commentaires
                        </a>
                    </li>
                {% endif %}
                <hr class="hr-orange">
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#logoutModal" class="nav-link" href="/dashboard">
                        Déconnexion
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Retour au site
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Se déconnecter?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">En cliquant sur Déconnexion vous aller mettre fin à votre session actuelle.</div>
                <div class="modal-footer d-flex justify-content-between">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger" href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</aside>
