<footer class="font-small">
    <div class="footer-copyright text-center small text-uppercase py-4">
        2020 ©{{ configParam('siteName') }} - <a href="/mentions-legales">Mentions légales</a> - <a href="/rgpd">RGPD</a>
    </div>
    <div class="container">
        <hr class="hr-orange">
        <div class="row mt-5">
            <div class="col-lg-4">
                <p class="title-separator">Navigation</p>
                <ul class="footer-list">
                    <li class="footer-nav-link"><a href="/">Accueil</a></li>
                    <li class="footer-nav-link"><a href="/blog">Blog</a></li>
                    <li class="footer-nav-link"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <p class="title-separator">A propos</p>
                <p class="footer-complement">
                    Complement
                </p>
            </div>
            <div class="col-lg-4">
                <p class="title-separator">Liens externe</p>
                <ul class="social-list">
                    <li class="social-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>