<footer class="font-small">
    <div class="footer-copyright text-center small text-uppercase py-4">
        2020 ©{{ configParam('siteName') }} - <a href="/mentions-legales">Mentions légales</a> - <a href="/rgpd">RGPD</a>
    </div>
    <div class="container">
        <hr class="hr-orange">
        <div class="row mt-5 text-center">
            <div class="col-lg-4">
                <p class="separator">Navigation</p>
                <ul class="footer-list">
                    <li class="footer-nav-link"><a href="/">Accueil</a></li>
                    <li class="footer-nav-link"><a href="/blog">Blog</a></li>
                    <li class="footer-nav-link"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <p class="separator">A propos</p>
                <p class="footer-complement">
                    Ce blog est destiné à des fins d'apprentissage de PHP.
                </p>
            </div>
            <div class="col-lg-4">
                <p class="separator">Réseaux sociaux</p>
                <ul class="social-list">
                    {% for network in showSocialNetworks() %}
                        <li class="social-item">
                            <a href="{{ network.url }}" target="_blank" title="{{ network.name }}"><i class="{{ network.icon }}"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
