<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <a href="/"><img class="logo" src="{{ asset('img/logo.svg') }}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle NavBar">
                <i class="fas fa-bars"></i>
            </button>
            <div class="text-center collapse navbar-collapse" id="navToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Inscription</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>