footer {
  color: $grey;
  background: $dark-grey;

  a {
    color: $grey;
  }

  .separator {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $orange;
  }

  .footer-list {
    li {
      padding-bottom: 5px;
      list-style: none;

      + li {
        padding-top: 5px;
      }
    }

    a {
      display: block;
      text-transform: uppercase;
    }
  }

  .footer-complement {
    font-size: 0.80rem;
    text-align: justify;
  }

  .social-list {
    text-align: center;
    .social-item {
      float: left;
      width: 25%;
      list-style: none;
      font-size: 2rem;
    }
  }
}
