form {
  label {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: $mid-grey;
  }

  input, textarea {
    width: 100%;
    padding: 12px 15px;
    transition: all .3s ease-in-out;
    border: 1px solid $grey;
  }

  input[type="checkbox"] {
    width: auto;
  }
}

.form-login {
  form input:focus {
    outline: none !important;
    border: 1px solid $yellow-link;
    box-shadow: 0 0 10px $orange;
  }
}

.form-group {
  margin: 2rem 0;
}