ul.pagination {
  justify-content: center;
  width: 100%;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 1px;

    a, span {
      display: block;
      min-width: 30px;
      min-height: 30px;
      padding: 5px;
      color: $dark-grey;
      border: solid 1px $grey;
      border-radius: 50%;
    }

    a:hover {
      color: $orange;
      border-color: $orange;
      background: 0 0;
    }

    .disabled {
      min-width: 0;
      border: none;
    }

    .prev.disabled, .next.disabled {
      display: none;
    }

    span:hover {
      background: 0 0;
    }

    a.active {
      border-color: $orange;
    }
  }
}
