ul.paginator {
  width: 100%;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 4px;

    a, span {
      display: block;
      line-height: 38px;
      width: 40px;
      height: 40px;
      border: solid 1px $grey;
      border-radius: 50%;
      color: $dark-grey;
    }

    a:hover {
      color: $orange;
      border-color: $orange;
      background: 0 0;
    }

    span:hover {
      background: 0 0;
    }

    a.active {
      border-color: $orange;
    }
  }
}