{% extends 'public/base.html.twig' %}

{% block content %}
    <main class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="h1 ml-3">Dernières actualités</div>
            <section class="hp-card-area mt-4">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <a href="#">
                                <img class="img-fluid" src="https://picsum.photos/600/500" alt="Title">
                            </a>
                            <div class="card-body">
                                <h2 class="title">
                                    <a href="/blog/test" >Titre de l'article</a>
                                </h2>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between">
                                    <span class="card-date text-muted small"><i class="fas fa-calendar-alt"></i> 28 JAN, 2020</span>
                                    <span class="small"><a class="text-muted" href="/blog/test">Lire la suite</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <a href="/blog/test">
                                <img class="img-fluid" src="https://picsum.photos/600/501" alt="Title">
                            </a>
                            <div class="card-body">
                                <h2 class="title">
                                    <a href="#" >Titre de l'article</a>
                                </h2>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between">
                                    <span class="card-date text-muted small"><i class="fas fa-calendar-alt"></i> 28 JAN, 2020</span>
                                    <span class="small"><a class="text-muted" href="/blog/test">Lire la suite</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <a href="#">
                                <img class="img-fluid" src="https://picsum.photos/600/502" alt="Title">
                            </a>
                            <div class="card-body">
                                <h2 class="title">
                                    <a href="/blog/test" >Titre de l'article</a>
                                </h2>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between">
                                    <span class="card-date text-muted small"><i class="fas fa-calendar-alt"></i> 28 JAN, 2020</span>
                                    <span class="small"><a class="text-muted" href="/blog/test">Lire la suite</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}