{% extends 'public/base.html.twig' %}

{% block content %}
    <main class="d-flex flex-column justify-content-center">
        <div class="container form-login">
            <div class="d-flex justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1>Inscription Admin</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="label" for="inputImgFile">Image</label>
                            <input type="file" name="image" id="inputImgFile" required>
                        </div>
                        <div class="form-group">
                            <label class="label" for="inputAltImg">Image Alt</label>
                            <input type="text" name="altImg" id="inputAltImg" value="{{ formpost.altImg }}" required>
                        </div>
                        <div class="form-group">
                            <label class="label" for="inputCvLink">CV Link</label>
                            <input type="file" name="cvLink" id="inputCvLink" class="form-control" accept="application/pdf" required>
                        </div>
                        <div class="form-group">
                            <label class="label" for="inputShortDescription">A propos de moi</label>
                            <textarea name="shortDescription" id="inputShortDescription" rows="4" maxlength="500" required>{{ formpost.shortDescription }}</textarea>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-default" name="registertwo">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
