{% extends 'public/base.html.twig' %}

{% block content %}
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h1>RGPD - Règlement Général sur la Protection des Données</h1>
                </div>
            </div>
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="text text-justify">
                        <div class="mt-4">
                            <h2>Utilisation des données personnelles collectées</h2>
                            <h3 class="font-weight-bold no-underline">Médias</h3>
                            <p>Si vous êtes un·e utilisateur·ice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images
                                contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces
                                images.</p>

                            <h3 class="font-weight-bold no-underline">Cookies</h3>
                            <p>Si vous déposez un commentaire sur notre site, il vous sera proposé d’enregistrer votre nom, adresse de messagerie et site web dans des cookies. C’est
                                uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez un autre commentaire plus tard. Ces cookies expirent au bout
                                d’un an.</p>
                            <p>Si vous vous rendez sur la page de connexion, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas
                                de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.</p>
                            <p>Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran.
                                La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre
                                cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.</p>
                            <p>En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle.
                                Il indique simplement l’ID de la publication que vous venez de modifier. Il expire au bout d’un jour.</p>
                        </div>
                        <div class="mt-5">
                            <h2>Contenu embarqué depuis d’autres sites</h2>
                            <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se
                                comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>
                            <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces
                                contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>
                        </div>

                        <div class="mt-5">
                            <h2>Durées de stockage de vos données</h2>
                            <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les
                                commentaires suivants au lieu de les laisser dans la file de modération.</p>
                            <p>Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site (si cela est possible), nous stockons également les données personnelles indiquées
                                dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de
                                leur nom d’utilisateur·ice). Les gestionnaires du site peuvent aussi voir et modifier ces informations.</p>
                        </div>
                        <div class="mt-5">
                            <h2 class="mt-5">Les droits que vous avez sur vos données</h2>
                            <p>Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données
                                personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données
                                personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.</p>
                        </div>
                        <div class="mt-5">
                            <h2>Vos données sont-elles partagées avec des tiers ?</h2>
                            <p>Nous encadrons juridiquement les transferts par des engagements contractuels avec nos sous-traitants pour vous apporter un niveau élevé de sécurité.</p>
                            <p>Les données personnelles vous concernant collectées sur notre plateforme sont destinées pour la propre utilisation par <b>monsuperblog.fr</b> et peuvent être
                                transmises aux sociétés sous-traitantes auxquelles <b>monsuperblog.fr</b> peut faire appel dans le cadre de l’exécution de ses services.</p>
                            <p><b>monsuperblog.fr</b> ne vend ni ne loue vos données personnelles à des tiers à des fins de marketing, en aucun cas.</p>
                            <p>Nous travaillons également en étroite collaboration avec des entreprises tierces qui peuvent avoir accès à vos données personnelles, en particulier :<br>
                                Lorsque nous faisons appel à des fournisseurs de moteurs de recherche et de solutions analytiques pour améliorer et optimiser notre plateforme.</p>
                        </div>

                        <div class="mt-5">
                            <h2>Informations supplémentaires</h2>
                            <h3 class="font-weight-bold no-underline">Comment nous protégeons vos données</h3>
                            <p><b>monsuperblog.fr</b> applique les mesures de sécurité technologiques et organisationnelles généralement reconnues afin que les données à caractère personnel
                                recueillies ne soient, ni perdues, ni détournées, ni consultées, ni modifiées ni divulguées par des tiers non autorisés sauf si la communication de ces
                                données est imposée par la réglementation en vigueur, notamment à la requête d’une autorité judiciaire, de police, de gendarmerie ou de toute autre autorité
                                habilitée par la loi.</p>
                            <p>La sécurité des données personnelles dépend également des Utilisateurs. Les Utilisateurs qui sont membres de <b>monsuperblog.fr</b> s’engagent à conserver la
                                confidentialité de leur identifiant et de leur mot de passe. Les membres s’engagent également à ne pas partager leur compte et à déclarer à <b>monsuperblog.fr</b>
                                toute utilisation non autorisée dudit compte dès lors qu’ils en ont connaissance.</p>

                            <h3 class="font-weight-bold no-underline">Comment nous contacter</h3>
                            <p>Si vous avez des questions ou des réclamations ou si vous souhaitez faire part à <b>monsuperblog.fr</b> de recommandations ou des commentaires visant à améliorer
                                notre Politique de protection des données personnelles vous pouvez envoyer un email à l’adresse <b>rgpd@monsuperblog.fr</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}