$black: #000000;
$dark-grey: #121212;
$mid-grey: #4a4a4a;
$light-grey: #717171;
$grey: #d8d8d8;
$white: #ffffff;
$orange: #ec7532;
$yellow: #fbbd61;
$yellow-link: #ba9a56;
$default-font: "Poppins", sans-serif;