$black: #000000 !default;
$dark-grey: #121212 !default;
$mid-grey: #4a4a4a !default;
$light-grey: #717171 !default;
$grey: #d8d8d8 !default;
$white: #ffffff !default;
$orange: #ec7532 !default;
$yellow: #fbbd61 !default;
$yellow-link: #ba9a56 !default;

$gray-100: #f8f9fc !default;
$gray-200: #eaecf4 !default;
$gray-300: #dddfeb !default;
$gray-400: #d1d3e2 !default;
$gray-500: #b7b9cc !default;
$gray-600: #858796 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #3a3b45 !default;

$blue: #4e73df !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #e74a3b !default;
$green: #1cc88a !default;
$teal: #20c9a6 !default;
$cyan: #36b9cc !default;
$default-font: "Poppins", sans-serif !default;
