// ================
// === == = Vars
// ================
$black: #000000;
$dark-grey: #121212;
$light-grey: #717171;
$grey: #d8d8d8;
$white: #ffffff;
$orange: #ec7532;
$yellow: #fbbd61;
$yellow-link: #ba9a56;
$roboto: "Roboto", sans-serif;
// ================
// === == = Font
// ================
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
}
// ================
// === == = Main typo
// ================
::selection {
  color: $white;
  background: $orange;
}

*:focus {
  outline: none;
  box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: $roboto;
  font-size: 1rem;
  height: 100%;
  color: $light-grey;
}
// ================
// === == = Utils
// ================
a {
  transition: all 300ms ease-in-out;
  text-decoration: none !important;
  color: $dark-grey;
  &:hover {
    color: $orange !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4em;
  position: relative;
  margin: 0 0 10px;
  padding: 0 0 10px;
}

h2:after,
h3:after,
h4:after,
h5:after {
  position: absolute;
  right: auto;
  bottom: -1px;
  display: block;
  width: 125px;
  height: 4px;
  content: '';
  background-image: linear-gradient(to right, $yellow, $orange);
}

h2.no-underline,
h3.no-underline,
h4.no-underline,
h5.no-underline {
  padding: 0;
  border-bottom: none;
}

h2.no-underline:after,
h3.no-underline:after,
h4.no-underline:after,
h5.no-underline:after {
  display: none;
}

h2 {
  font-size: 18px;
  margin-bottom: 2rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: $orange;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: $dark-grey;
}

.arrow-button {
  font-size: 12px;
  position: relative;
  letter-spacing: 4px;
  text-transform: uppercase;

  &:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    content: '\f054';
    text-transform: none;
  }
}

hr {
  &.hr-orange {
    margin: 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), $orange, rgba(0, 0, 0, 0))
  }
}

.wrapper {
  overflow-x: hidden
}

.title-separator {
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  color: $orange;

  &:after {
    content: "";
    width: 10%;
    height: 2px;
    display: block;
    margin-top: 1rem;
    background-image: linear-gradient(to right, $yellow, $orange);
  }
}

#rgpdml {
  margin-top: 6rem;
}
// ================
// === == = Navbar
// ================
.navbar {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  color: $white;
  background: rgba(0, 0, 0, 0.8);

  .logo {
    max-width: 150px;
    margin-left: 15px;
  }

  .navbar-toggler {
    color: $white;
  }

  & li {
    margin: 10px;

    & a {
      color: $white;
      transition: all 0.2s ease-in-out;

      line-height: .8em;
      text-transform: uppercase;
      letter-spacing: 3px;

      &:hover {
        color: $orange;
      }

      &:active {
        color: $yellow;
      }
    }

  }
}
// ================
// === == = Hero
// ================
#hero {
  overflow: hidden;
  min-height: 100vh;

  .carousel-inner {
    .carousel-item {
      height: 100%;
      min-height: 100vh;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)
      }
    }
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin: auto;
    transform: none;
    align-items: center;
    justify-content: center;

    .blurb {
      position: relative;
      width: 100%;
      margin-top: 50px;
      animation: Fade .5s .5s forwards;
      text-align: left;
      opacity: 0;
      color: white;
    }

    .blurb h1:after {
      display: none !important;
      border-bottom: none;
    }

    .blurb p {
      font-size: 18px;
      color: #fff
    }
  }

  .carousel-indicators {
    bottom: 20px;
  }

  .carousel-indicators li,
  .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 0 8px 0 0;
    border: solid 2px #fff;
    border-radius: 10px;
  }
}
// ================
// === == = Content Hero
// ================
#content_hero {
  height: 350px;
  position: relative;
  transition: all 300ms ease-in-out;
  background-position: center;
  background-size: cover;

  &:before {
    top: auto;
  }

  .container .blurb {
    padding: 200px 0 100px 0;
    color: $white;

    h1 {
      animation: none;
      opacity: 1;
    }
  }

  .container .blurb p {
    font-size: 18px;
    color: #fff
  }

  .container .blurb h1:after {
    display: none !important;
    border-bottom: none;
  }

  .container .blurb {
    position: relative;
    width: 100%;
    animation: Fade .5s .5s forwards;
    text-align: left;
    opacity: 0;
    color: white;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)
  }

  .buttons .btn {
    margin-right: 15px;
  }
}
// ================
// === == = News Single
// ================
.news article {
  margin-bottom: 3rem;

  p {
    text-align: justify;
  }

  .categories {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $orange;
  }

  h2 {
    margin-bottom: 20px;
    color: $dark-grey;
  }

  .news-image {
    object-fit: contain;
    max-height: 300px;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .tags {
    margin-top: 1rem;
  }
}
// ================
// === == = Sidebar
// ================
.sidebar .widget {
  position: relative;
  margin-bottom: 40px;

  h3 {
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: $orange;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 8px;

      a {
        display: block;
        color: $light-grey;

        &:hover {
          text-indent: 5px;
          color: #ec7532;
        }
      }
    }
  }

  .tag {
    font-size: 14px;
    display: inline-block;
    margin: 0 2px 5px 0;
    padding: 5px 8px;
    letter-spacing: 2px;
    color: $light-grey;
    border: 1px solid $grey;
    border-radius: 5px;
    background-color: $grey;

    &:hover {
      color: $orange;
      border-color: $orange;
      background: 0 0;
    }
  }
}
// ================
// === == = Dark
// ================
.dark {
  color: $white;
  background: #090909;

  h2 {
    color: $white;
  }
}

.remove-bottom-padding {
  padding-bottom: 0
}
// ================
// === == = Footer
// ================
footer {
  color: $grey;
  background: $dark-grey;

  a {
    color: $grey;
  }

  .footer-list {
    li {
      padding-bottom: 5px;
      list-style: none;

      + li {
        padding-top: 5px;
      }
    }

    a {
      display: block;
      text-transform: uppercase;

      &:hover,
      &:focus {
        padding-left: 7px;
        border-left: 3px solid $yellow-link;
      }
    }
  }

  .footer-complement {
    font-size: 0.80rem;
    text-align: justify;
  }

  .social-list {
    text-align: center;
    .social-item {
      float: left;
      width: 25%;
      list-style: none;
      font-size: 2rem;
    }
  }
}
// ================
// === == = Cards
// ================
.fdpa-card {
  margin: 2rem 0;

  .fdpa-card-content {
    background: #fbfbfb;
  }

  .fdpa-card-title {
    padding: 1rem 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  .fdpa-card-date {
    display: block;
    margin-bottom: 10px;
    font-size: 80%;
  }

  .fdpa-img-card {
    object-fit: cover;
    max-height: 280px;
    overflow: hidden;
  }

  a {
    color: $dark-grey;
  }

  li {
    list-style: none;
  }
}
// ================
// === == = Pagination
// ================
ul.paginator {
  width: 100%;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 4px;

    a, span {
      display: block;
      line-height: 38px;
      width: 40px;
      height: 40px;
      border: solid 1px $grey;
      border-radius: 50%;
    }

    a:hover {
      color: $orange;
      border-color: $orange;
      background: 0 0;
    }

    span:hover {
      background: 0 0;
    }

    a.active {
      border-color: $orange;
    }
  }
}
// ================
// === == = Button style
// ================
.btn {
  font-size: 13px;
  width: auto;
  padding: 12px 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  border-width: 2px;
  border-radius: 30px;
}

.btn-default {
  border: none;
  background: $orange;
}

button {
  &.btn-default {
    transition: all 300ms ease-in-out;
  }

  &.btn-default:hover {
    color: $dark-grey;
    background: $yellow;
  }
}
// ================
// === == = Form
// ================
form {
  label {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4a4a4a;
  }

  input, textarea {
    width: 100%;
    padding: 12px 15px;
    transition: all 300ms ease-in-out;
    border: 1px solid #d8d8d8;
  }
}
// ================
// === == = Media Queries
// ================
@media (min-width: 768px) {
  .logo {
    max-width: 180px;
  }

  .fdpa-img-card {
    max-height: 280px;
  }
}
// ================
// === == = Keyframes
// ================
@keyframes Fade {
  0% {
    transform: scale(1.15);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}







img{ width: 100%; }

.blog-area .row div[class^="col"] { margin-bottom: 30px; }

.blog-area{ text-align: center; background: #EDF3F3; }

.blog-area .single-post{ height: 100%; position: relative; padding-bottom: 45px;
  overflow: hidden; box-shadow: 0px 0px 5px rgba(0,0,0,.1); border: 1px solid #ddd; background: #fff; }

.blog-area .single-post .title{ padding: 20px 30px 30px; }

.single-post .avatar{ margin: 0 auto; margin-top: -40px; width: 70px; height: 70px; overflow: hidden; z-index: 10;
  border-radius: 100px; position: relative; border: 7px solid #fff; box-shadow: 0px 0px 10px rgba(0,0,0,.2); }

.single-post .post-footer{ position: absolute; bottom: 0; left: 0; right: 0; text-align: center; }

.single-post .post-footer > ul{ background: #EDF3F3; }
.single-post .post-footer > li{ width: 33.33%; display: inline-block; border-right: 1px solid #fff; background: #EDF3F3; }

.single-post .post-footer > li:first-child{ float: left; }

.single-post .post-footer > li:last-child{ border: 0px; float: right; }

.single-post .post-footer > li > a{ line-height: 45px; width: 100%; }

.single-post .post-footer i{ display: inline-block; margin-right: 10px; opacity: .6; font-size: 1.1em; }

.post-style-1 .blog-image{ max-height: 200px; overflow: hidden; }